@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

.display-flex {
  display: flex;
}

.dark02 {
  color: rgba(66, 66, 66, 1);
}

.dark03 {
  color: rgba(114, 114, 114, 1);
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

/* header styles */


/* nav styles */

.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-size: 3rem;
  font-weight: 700;
  margin: 50px 0;
}


/* banner related styles */

.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description{
  margin: 32px 0;
}

.banner-image{
  width: 100%;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  .nav-bar, .nav-links {
    flex-direction: column;
    align-items: center;
  }
  
}